html {
  scroll-behavior: smooth;
  
}

/* Header */
#header {
  background-color: #1f2833;
  font-size: 25px;
  position: fixed;
  z-index: 3;
  width: 100%;
  box-shadow: 0 3px 7px 0 #1f2833, 0 5px 15px 0 #1f2833;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#header ul {
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  list-style-type: none;
}
.nav-item a {
  color: #66fcf1;
}
.nav-item a:hover {
    text-decoration: none;
  -webkit-animation: color-change 2s linear infinite alternate both;
  animation: color-change 2s linear infinite alternate both;
}
@-webkit-keyframes color-change {
  0% {
    color: #66fcf1;
  }
  33.3333% {
    color: #ffdbc5;
  }
  66.666% {
    color: #ff9d76;
  }
  100% {
    color: #ef4339;
  }
}
@keyframes color-change {
  0% {
    color: #66fcf1;
  }
  33.3333% {
    color: #ffdbc5;
  }
  66.666% {
    color: #ff9d76;
  }
  100% {
    color: #ef4339;
  }
}

/* title */
#title {
  height: 100vh;
  background-color: hsl(213, 24%, 16%);
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.welcome-title {
  color: #66fcf1;
  position: relative;
  z-index: 2;
  top: 30%;
  font-size: 6rem;
}

.box {
  width: 8rem;
  height: 8rem;
  background-color: #66fcf1;
  top: 60%;
  border-radius: 4rem;
  position: absolute;
}

#ball1 {
  left: 44%;
  top: 65%;
  -webkit-animation: color-change-4x 5.5s linear infinite alternate both;
  animation: color-change-4x 5.5s linear infinite alternate both;
}

#ball2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 65%;
  -webkit-animation: color-change-4x 6s linear infinite alternate both;
  animation: color-change-4x 6s linear infinite alternate both;
}
#ball3 {
  right: 44%;
  top: 65%;
  -webkit-animation: color-change-4x 6.5s linear infinite alternate both;
  animation: color-change-4x 6.5s linear infinite alternate both;
}

@-webkit-keyframes color-change-4x {
  0% {
    background: #66fcf1;
  }
  33.3333% {
    background: #4b7fb3;
  }
  66.666% {
    background: #27496d;
  }
  100% {
    background: #142850;
  }
}
@keyframes color-change-4x {
  0% {
    background: #66fcf1;
  }
  33.3333% {
    background: #4b7fb3;
  }
  66.666% {
    background: #27496d;
  }
  100% {
    background: #142850;
  }
}

/* About */
#about {
  text-align: center;
  background-color: #142850;
  height: fit-content;
  font-size: 1.6rem;
  color: #66fcf1;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#about img{
    width: 250px;
    height: 320px;
    margin-bottom: 3%;
    border-radius: 2rem;
}
#about-me-title {
  padding: 3%;
}
.my-content {
  padding: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.me-text{
    font-size: 1.8rem;
    padding: 6%;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #142850 50%, #66fcf1 50%);
    transition: background-position 1s linear, color 1s linear;
    color: 66fcf1;
    border-radius: 4rem;
}
.me-text:hover{
    background-position: -100% 0;
    color: #142850;
}

.skills {
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.skills ul {
  display: flex;
  justify-content: space-evenly;
  order: 5; padding: 0;
}
.skills li {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
#resume-link{
    text-decoration: none;
    color: #66fcf1;
    border: solid 4px #66fcf1;
    padding: 1%;
    border-radius: 1rem;
    margin: 1%;
    text-align: center;
}
#resume-link:hover{
    transition: all 1.5s;
    background-color: black;
    color: white;
}

#work{
    text-align: center;
    background-color: #27496d;
    height: fit-content;
    font-size: 1.6rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#my-work-title{
    color: #66fcf1;
    padding: 3%;
}

.projects{
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    font-size: 1.2rem;
    margin: 2%;
}
.card a{
    color: #1f2833;
    margin: 1%;
}
.card a:hover{
    color: red;
}

/* contact */
#contact{
    text-align: center;
  background-color: #142850;
  height: fit-content;
  font-size: 18px;
  color: #66fcf1;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#contact a{
    color: white;
    text-decoration: none;
}
#contact a:hover{
    color: #66fcf1;
    text-decoration: none;
}

#contact li{
    list-style-type: none;
}

@media only screen and (max-width: 375px) {
    .box{
        display: none;
    }
  }